@page "/servers"


<h3>Servers</h3>
<br />
<br />

<div class="row">
    <CityListComponent
        SelectCityCallback="HandleCitySelection"
        @ref="cityListComponent"></CityListComponent>
</div>


<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ul>
        <ServerListComponent
            CityName="@selectedCity"
            SearchFilter="@searchFilter">
        </ServerListComponent>
    </ul>
</CascadingValue>


<SearchbarComponent 
    SearchCallback="HandleSearchServer"
    @ref="searchbarComponent"></SearchbarComponent>

<a href="/servers/addserver">Add server to the List!</a>


@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent cityListComponent;
    private SearchbarComponent searchbarComponent;

    private void HandleCitySelection(string city)
    {
        this.selectedCity = city;
        this.searchFilter = "";
        searchbarComponent.ClearSearch();
    }

    private void HandleSearchServer(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListComponent.ClearSelection();
    }

}
