<li @key="server.ServerId" style="background-color: @GetBackgroundColor()">
    @server.Name in @server.City is @(server.IsOnline ? "online" : "offline")

    <a href="/addedserver/@(server.ServerId)">Klick um zu Added Server zu kommen</a>

 
    <button
        @onclick="() => { DeleteServer(server.ServerId);}"
            type="submit" 
            class="btn btn-danger">
            Löschen
        </button>

</li>


@code {
        [Parameter]
        public Server server { get; set; }

        [CascadingParameter(Name = "SelectedCity")]
        public string SelectedCity { get; set; }

        public void DeleteServer(int serverId)
        {
            // if (serverId > 0)
            // {
            //     ServerRepository.DeleteServer(serverId);
            //     servers = ServerRepository.GetServersByCity("Toronto"); 
            // }
        }

        public string GetBackgroundColor()
        {
            if (SelectedCity != null)
            {
                switch (SelectedCity)
                {
                    case "Toronto":
                        return "lightblue";
                        case "montreal":
                        return "lightgreen";
                    case "Ottawa":
                        return "palegreen";
                    case "Calgary":
                        return "pink";
                        case "Halifax":
                        return "lightyellow";
                }
        }
        else
        {
            return "white";
        }

            return "";
        }

}
