@using System.Reflection.Emit


<div class="mb-3">
    <div class="col-2">
        <label class="form-label">@Label</label>
    </div>
    <div class="col-6">
        @Control
    </div>
    <div class="col-6">
      @ValidationControl
    </div>
   
  
</div>


@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public RenderFragment? Control { get; set; }

    [Parameter]
    public RenderFragment? ValidationControl { get; set; }

}
